@{
    ViewData["Title"] = "Forgot Password || Admin Code";
}

<!-- Admin Code Section -->
<section id="ac">
    <div id="backbuttondiv">
        <input type="button" id="fpbackbutton" value="BACK" onclick="location.href='/Account/ForgotPassword'" class="getstarted" />
    </div>
    <form>
        <div id="acform">
            <div id="actitle">
                <div id="actitle1">
                    <img id="sqlogoimg" src="~/img/sqlogo.png" alt="sqlogo"><h2 id="sqheading"> ADMIN CODE </h2>
                </div>
            </div>
            <div id="acformcontent">
                <div id="acinputfields">
                    <h4 id="actext">Admin Code</h4>
                    <input type="text" id="acanswerinput" placeholder="Please Provide Admin Code">
                </div>
            </div>
            <div id="acbuttonscontainer">
                <input type="button" id="acnextbutton" value="NEXT" onclick="location.href='/Account/[action]'" class="getstarted" />
            </div>
        </div>
    </form>
</section>
