@{
    ViewData["Title"] = "Forgot Password Page";
}
@using CasaDespaDraft.ViewModels
@using CasaDespaDraft.Data;
@model ForgotPasswordViewModel

<!-- Forgot Password Section -->
<section id="forgotpassword">
    <div id="backbuttondiv">
        <input type="button" id="fpbackbutton" value="BACK" onclick="location.href='/Account/Login'" class="getstarted" />
    </div>
    <form asp-action="ForgotPassword" asp-controller="Account" asp-route-email="@Model.Email">
        <div id="forgotpasswordform">
            <div id="forgotpasswordtitle">
                <h2 id="forgotpasswordheading"> FORGOT PASSWORD </h2>
            </div>
            <div id="forgotpasswordformcontent">
                <div id="fginputfields">
                    <h4 id="fgemail">Please Enter Your Email:    </h4>
                    <input asp-for="Email" type="email" id="fgemailinput" placeholder="">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div id="fpbuttonscontainer">
                <input type="button" id="acnextbutton" value="NEXT" onclick="location.href='/Account/[action]'" class="getstarted" />
            </div>
        </div>
    </form>
</section>
