@{
    ViewData["Title"] = "Reset Password";
}

<!-- Reset Password Section -->
<section id="rp">
    <div id="backbuttondiv">
        <button id="fpbackbutton"> <a id="fpabackbutton" asp-area="" asp-controller="Account" asp-action="ForgotPassword" class="getstarted"> <i class="material-icons">chevron_left</i> </a> </button>
    </div>
    <form>
        <div id="rpform">
            <div id="rptitle">
                <div id="rptitle1">
                    <h2 id="rpheading"> RESET PASSWORD </h2>
                </div>
            </div>
            <div id="rpformcontent">
                <div id="rpinputfields">
                    <span class="glyphicon glyphicon-lock" id="lockglyph"></span>
                    <input type="text" id="rpanswerinput" placeholder="ENTER NEW PASSWORD">
                </div>
                <div id="rpinputfields1">
                    <i class="glyphicon glyphicon-ok-sign" id="okglyph"></i>
                    <input type="text" id="rpanswerinput" placeholder="CONFIRM PASSWORD">
                </div>
            </div>
            <div id="rpbuttonscontainer">
                <button id="rpnextbutton"><a id="rpnext" asp-area="" asp-controller="Account" asp-action=""> NEXT </a> </button>
            </div>
        </div>
    </form>
</section>
