@{
    ViewData["Title"] = "Forgot Password || Security Question";
}
@using CasaDespaDraft.ViewModels
@using CasaDespaDraft.Data;
@model SecurityQuestionViewModel    

<section id="sq">
    <div id="backbuttondiv">
        <input type="button" id="fpbackbutton" value="BACK" onclick="location.href='/Account/ForgoPassword'" class="getstarted" />
    </div>
    <form asp-action="SecurityQuestion" asp-controller="Account" method="post">
        <div id="sqform">

            <div id="sqtitle">
                <div id="sqtitle1">
                    <img id="sqlogoimg" src="~/img/sqlogo.png" alt="sqlogo"><h2 id="sqheading"> SECURITY QUESTION </h2>
                </div>
            </div>


            <div id="sqformcontent">
                <div id="sqinputfields">
                    <input asp-for="answer" type="hidden" />
                    <h4 id="sqtext">-- @Model.question -- @Model.answer --</h4>
                    <input asp-for="fanswer" type="text" id="sqanswerinput" placeholder="Please Provide Answer">
                    <span asp-validation-for="fanswer" class="text-danger"></span>
                </div>
            </div>
            <div id="sqbuttonscontainer">
                <input type="submit" id="sqnextbutton" value="NEXT" onclick="location.href=''" />
            </div>
        </div>
    </form>
</section>

