@{
    ViewData["Title"] = "Dashboard";
}

<!-- Welcome Section -->
<section id="welcome">
    <div id="welcomecontainer">
        <div id="welcomediv1">
            <h1 id="welcometextDashboard">DASHBOARD</h1>
        </div>
        <div id="welcomediv2">
            <img id="blkbiglogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
    </div>
</section>
<!-- End Welcome Section -->

<!-- Dashboard Section-->
<section id="Dashboard_BG">
    <center>
    <div id="Dashboard_container">
            <center>
        <div id="Dashboard_container_buttons">
@*                     <button id="Dashboard_buttons"><a>Booking Request</a></button>
                <button id="Dashboard_buttons"><a>Booking Transaction</a></button>
                    <button id="Dashboard_buttons"><a>Accepted Request</a></button>
                    <button id="Dashboard_buttons"><a>Archived Bookings</a></button> *@
        </div>
            </center>
            <div id="Dashboard_tables"></div>
        </div>
    </center>
</section>