@{
    ViewData["Title"] = "Home Page";
}

<!-- Welcome Section -->
<section id="welcome">
    <div id="welcomecontainer">
        <div id="welcomediv1">
            <h1 id="welcometextDashboard">DASHBOARD</h1>
        </div>
        <div id="welcomediv2">
            <img id="blkbiglogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
    </div>
</section>
<!-- End Welcome Section -->

<!-- Dashboard Section-->
<section id="Dashboard_BG">
    <center>
    <div id="Dashboard_container">
        <div id="Dashboard_container_buttons">
            <center>
            <button id="Dashboard_buttons"></button>
                <button id="Dashboard_buttons"></button>
                <button id="Dashboard_buttons"></button>
                <button id="Dashboard_buttons"></button>
                </center>
        </div>
            <div id="Dashboard_tables"></div>
        </div>
    </center>
</section>