@{
    ViewData["Title"] = "FAQs Page";
}
@using System.Security.Claims;
@model IEnumerable<FAQs>

<!-- Welcome Section -->
<section id="welcome">
    <div id="welcomecontainer">
        <div id="welcomediv1">
            <h1 id="welcometext">FREQUENTLY ASKED QUESTIONS</h1>
            <h3 id="welcomesubtext">FIND SOME OF YOUR QUESTION</h3>
            @if (User.IsInRole("Admin"))
            {
                <center>
                    <a asp-area="" asp-controller="Home" asp-action="FAQsEdit"><div id="FAQS_Edit_Button"><p>EDIT</p></div></a>
                </center>
            }
            
        </div>
        <div id="welcomediv2">
            <img id="blkbiglogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
    </div>
</section>

<!-- End Welcome Section -->
<!-- Rates Section -->
<center>
    <section id="faqs">

        @foreach (var FAQs in Model)
        {
            <button class="accordion"><h2>@FAQs.FAQuestion</h2></button>
            <div class="panel">
                <h3>
                    @FAQs.FAQAnswer<br /><br />
                </h3>
            </div>
        }

    </section>
</center>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active_faqs");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>