@{
    ViewData["Title"] = " ADD FAQs Page";
}

<section id="FAQS_Edit">
       <center> <div id="FAQSEdit_form">
        <div id="FAQSEdit_title">
                <h2 id="FAQSEdit_heading"> ADD FREQUENTLY ASKED QUESTION </h2>
            </div>
        <div id="FAQSEdit_content">

        </div>
        </div>
    </center>
</section>
