@{
    ViewData["Title"] = "Gallery - Video Edit";
}

<!-- Video Edit Section -->
<section id="ac">
    <div id="backbuttondiv">
        <button id="fpbackbutton"> <a id="fpabackbutton" asp-area="" asp-controller="Home" asp-action="Gallery" class="getstarted"> <i class="material-icons">chevron_left</i> </a> </button>
    </div>
    <form asp-action="" asp-controller="" method="">
        <div id="acform">
            <div id="actitle">
                <center>
                    <div id="actitle1">
                        <center>
                            <h2 id="sqheading"> EDIT GALLERY VIDEO </h2>
                        </center>
                    </div>
                </center>
            </div>
            <div id="acformcontent">
                <div id="acinputfields">
                    <h4 id="videolinktext">Video Link:</h4>
                    <input id="videolinkinput" type="text" value="" />
                </div>
            </div>
            <div id="acbuttonscontainer">
                <button type="submit" id="acnextbutton"><a id="acnext"> EDIT </a> </button>
            </div>
        </div>
    </form>
</section>