@{
    ViewData["Title"] = "Profile Page";
}
<style>
     .image-selector {
        margin-bottom: 10px;
        position: relative; 
    }
    .custom-file-upload {
        padding: 8px 12px;
        cursor: pointer;
        background-color: black;
        color: #F3D6B2;
        border-radius: 5px;
        border: none;
    }

    #uploadedImage {
        display: none;
        max-width: 200px;
        margin: 0 auto 10px; 
    }

    
    .reference-number {
        margin-bottom: 20px;
        text-align: left; 
        display: flex;
        align-items: center;
        color: black;
        font-weight: bold;
    }
</style>

<!-- Receipt Page -->
<section id="rt">
    <form>
        <div id="rform">

            <div id="rtitle">
                <div id="rtitle1">
                    <h2 id="rheading">RECEIPT</h2>
                </div>
            </div>

            <div id="rformcontent">
                <div id="rinputfield">
                    <h4 id="rtext">REFERENCE NUMBER</h4>
                    <input type="text" id="ranswerinput" placeholder="">
                </div>
            </div>
            <div id="sqbuttonscontainer">
                <button id="rnextbutton"><a id="rnext" asp-area="" asp-controller="Home" asp-action="ProfileP"> CANCEL </a> </button>
                <button id="rnextbutton"><a id="rnext" asp-area="" asp-controller="Home" asp-action="ProfileP"> SUBMIT </a> </button
            </div>
        </div>
    </form>
</section>
