@{
    ViewData["Title"] = "Booking Page";
}

@model Booking;

<link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js"></script>

<style>
    #booking {
        min-height: 50vh !important;
        display: flex !important;
        flex-wrap: wrap;
        background-color: #c4a585;
        justify-content: space-around;
        padding: 15px;
    }

    .bookcontainer {
        background-color: #f1d9b6;
        min-height: 50vh !important;
        margin: .5rem;
        width: 48% !important;
        min-width: 350px;
        padding: 20px;
    }


    #bookform {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #bookform {
        display: flex;
        justify-content: normal;
        padding: 25px;
    }

    #booking h1 {
        background-color: black;
        color: #f1d9b6;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
        border-radius: 25px;
    }

    #booking .packagecontainer {
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-content: space-around;
        padding: 0px;
        border-radius: 12%;
    }

        #booking .packagecontainer input {
            width: 99%;
            margin: auto;
            text-align: center;
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: unset;
        }

            #booking .packagecontainer input:focus {
                border: none;
            }

            #booking .packagecontainer input:last-child {
                border-bottom: none;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                padding: 4px;
                margin-bottom: 2px;
            }

    #booking #bookform form div label {
        width: 70%;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 900;
        color: black;
    }


    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        background-color: #f1d9b6;
        height: auto;
    }

    #calendar {
        min-width: 350px;
        text-align: center;
    }

        #calendar * {
            border: none;
            margin: auto;
        }

    .fc-day, .fc-day-number {
        border-color: transparent;
    }

        .fc-day.clicked-day {
            background-color: #ffbdbd !important;
            border-color: #ffbdbd;
        }



    .fc-left {
        background-color: transparent;
        color: #fff;
    }

    .fc-right {
        background-color: transparent;
        color: #fff;
    }

    #legendcontainer {
        display: flex;
        flex-direction: column;
    }

    #legends {
        margin: auto;
        text-align: justify;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

        #legends h2::before {
            content: "";
            display: inline-block;
            width: 50px; /* Adjust the size of the circle */
            height: 50px; /* Adjust the size of the circle */
            border-radius: 50%;
            margin-right: 8px;
        }

        #legends h2:nth-child(1)::before {
            background-color: #243719; /* Change the color for the first h2 */
        }

        #legends h2:nth-child(2)::before {
            background-color: #6b2c0e; /* Change the color for the second h2 */
        }

        #legends h2:nth-child(3)::before {
            background-color: #c3ab7d; /* Change the color for the third h2 */
        }

    #packages {
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 0 1em 0 0;
        margin: 0;
        width: 147%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        padding: 20px;
        height: auto;
        background-color: initial;
        color: black;
        font-size: 18px;
        border: 1px solid black;
        border-radius: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
    }


    /*Modal CSS*/
    #myModalT {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 105%;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 15px;
        box-shadow: 0 0 3px black;
    }

    #tpopup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 80%;
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
    }

    #tpopuptitle {
        text-align: center;
        margin-bottom: 30px;
    }

    #tpolicycontent {
        text-align: center;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

        #tpolicycontent h4 {
            line-height: 1.5;
            flex: 1;
        }

    #tppcontent {
        color: #333;
        max-height: 380px;
        max-width: 100%;
        overflow-y: scroll;
        width: 100%;
        text-align: left;
        padding-left: 85px;
        padding-right: 85px;
        padding-bottom: 85px;
        /* Style the scrollbar track */
        :: -webkit-scrollbar-track

    {
        background-color: #f5f5f5;
        border-radius: 10px;
    }
    /* Style the scrollbar thumb */
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
    }
        /* Style the scrollbar thumb on hover */
        ::-webkit-scrollbar-thumb:hover {
            background-color: #aaa;
        }
    /* Style the scrollbar Corner */
    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    }



    #headingtc {
        font-size: 12px;
    }

    #buttondivmodal {
        width: 100%;
        margin-top: 30px;
    }

    #bookingtable {
        width: 100%;
    }

    #booklabeltd {
        width: 50%;
        font-size: 25px;
    }

    #bookrow {
        margin-top: 10px;
    }

    #btndivtt {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

    #booktablediv {
        margin-top: 20px;
    }

    #BookButton {
        width: 436px;
        height: 64px;
        padding: 10px;
        color: #F0D9B7;
        border-radius: 20px;
        background-color: black;
        font-size: 30px;
        padding: 6px;
    }

    #inputtextfieldbr {
        background-color: transparent;
        border-radius: 25px;
        padding: 5px;
        width: 100%;
        height: 70px;
        border: 1px solid black;
        font-size: 25px;
        min-height: 38px;
    }

    .inputtextfieldbr {
        background-color: transparent;
        border-radius: 25px;
        padding: 5px;
        width: 100%;
        height: 70px;
        border: 1px solid black;
        font-size: 25px;
        min-height: 38px;
    }

    #selectedDate {
        background-color: transparent;
        border-radius: 25px;
        padding: 5px;
        width: 100%;
        height: 70px;
        border: 1px solid black;
        font-size: 25px;
        min-height: 38px;
    }

    #tdeclinebutton {
        padding: 10px;
        width: 130px;
        color: black;
        border-radius: 20px;
        background-color: #F5D8B3;
    }

    #tacceptbutton {
        padding: 10px;
        width: 130px;
        color: #F0D9B7;
        border-radius: 20px;
        background-color: black;

    }

    #notediv{
        padding: 10px;
        background-color: #F9F4D6;
        border-radius: 10px;
        margin-top: 0px;
        box-shadow: 0 0 5px gray;
        border: 1px solid #967940;
        color: #967940;
        margin-bottom: 25px
    }

    #notett{
    margin-left:10px;

    }
</style>

<!-- Welcome Section -->
<section id="welcome">
    <div id="welcomecontainer">
        <div id="welcomediv1">
            <h1 id="welcometext">BOOK YOUR STAY WITH US!</h1>
            <h3 id="welcomesubtext">CLICK THE AVAILABLE DATES!</h3>
        </div>
        <div id="welcomediv2">
            <img id="blkbiglogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
    </div>
</section>

<!-- End Welcome Section -->
<!--Booking Section-->

<section id="booking">
    <div id="bookform" class="bookcontainer">
        <h1>BOOK NOW!</h1>

        <form asp-action="Booking" asp-controller="Booking" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            

            <div id="booktablediv">
                <table id="bookingtable">
                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="fullName">Full Name:</label></td>
                        <td><input asp-for="fullName" id="inputtextfieldbr" type="text" id="fullName" name="fullName"><br></td>

                    </tr>
                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="contactNumber">Contact Number:</label></td>
                        <td><input asp-for="contactNumber" id="inputtextfieldbr" type="tel" id="contactNumber" name="contactNumber"></td>

                    </tr>
                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="messengerLink">Messenger Link:</label></td>
                        <td><input asp-for="messengerLink" type="text" id="inputtextfieldbr" id="messengerLink" name="messengerLink" placeholder="Include 'http://', 'https://', 'ftp://'."><br></td>
                        
                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="package" style="margin-top:auto;margin-bottom:auto;">Package:</label></td>
                        <td>
                            <div class="packagecontainer">
                                <select id="packages" asp-for="package" asp-items="@Html.GetEnumSelectList(typeof(Package))" class="form-control"></select>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td id="regtd"><h4 id="gender">ACCOMODATION:</h4></td>
                        <td id="regtdinput">
                            <input asp-for="accomodation" type="radio" id="male" name="accomodation" value="REGULAR">
                            <label for="regular"><h6>REGULAR <br />(Pax Range: 1-20)</h6></label><br/>
                            <input asp-for="accomodation" type="radio" id="female" name="accomodation" value="PARTY">
                            <label for="party"><h6>PARTY <br />(Pax Range: 21-50)</h6></label>
                        </td>
                    </tr>

                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="numberOfPax">Number of PAX:</label></td>
                        <td><input type="number" id="numberOfPax" class="inputtextfieldbr" asp-for="pax" placeholder="Number of people attending"><br></td>
                    </tr>


                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="numberOfPax">Date to Book:</label></td>
                        <td><input asp-for="date" type="text" id="selectedDate" readonly placeholder="Click a day on the calendar"></td>
                    </tr>

                </table>
            </div>

            <div id="btndivtt">
                <input type="button" value="Book" id="BookButton">
            </div>


            <div id="myModalT" class="modal">
                <div id="tpopup">
                    <div id="tpopuptitle">
                        <h2>TERMS AND CONDITIONS</h2>
                    </div>
                    <div id="tpolicycontent">
                        <div id="tppcontent">
                            <div id="notediv">
                                <span class="glyphicon glyphicon-warning-sign"><strong> NOTE: </strong></span>

                                <ul>
                                    <li><strong>Submission of a request may take up to at least a minute.</strong></li>
                                    <li>
                                        <strong>
                                            Casa Despa's email notifications may be filtered into your spam folder. Please ensure to check your spam folder regularly for any communications from us.
                                        </strong>
                                    </li>
                                </ul>
                            </div>

                            <ul>
                                <li>
                                    <strong>Regular Accommodations:</strong>
                                    <ul>
                                        <li>Suitable for 15 persons. But can accommodate 20 persons for a 22-hour stay.</li>
                                        <li>Additional 300/head over 15 pax.</li>
                                    </ul>
                                </li>
                                <li><strong>Accommodation with parties/events:</strong></li>
                                <ul>
                                    <li>Additional P3000</li>
                                    <li>Maximum of 50 pax DURING THE EVENT ONLY.</li>
                                    <li>Party Hours: 2 pm - 10 pm.</li>
                                    <li>STRICTLY AFTER 10 PM, A MAXIMUM OF 20 PAX CAN STAY IN THE VILLA.</li>
                                    <li>ALL GATES SHALL BE CLOSED BY 10 PM for security purposes.</li>
                                </ul>

                                <li><strong>Sleeping Capacity:</strong></li>
                                <ul>
                                    <li>We have five (5) available beds; Each bed can accommodate about 2-3 persons for 15 persons.</li>
                                    <li>We also have EXTRA MATTRESSES FOR RENT.</li>
                                </ul>

                                <li><strong>Noise:</strong></li>
                                <ul>
                                    <li>We hope you have lots of laughter & fun times during your stay! However, we'd appreciate it if you're mindful & keep the noise to a minimum during nighttime.</li>
                                </ul>

                                <li><strong>Cleanliness:</strong></li>
                                <ul>
                                    <li>Please treat our house with the same respect as you would your own home. We've put a lot of effort in making this into a lovely space to be enjoyed by our guests. Kindly maintain a good level of cleanliness throughout your stay.</li>
                                    <li>DAMAGED/MISSING ITEMS & STAINED MATTRESSES SHALL BE CHARGED TO GUESTS.</li>
                                </ul>

                                <li><strong>Check-In & Check-Out:</strong></li>
                                <ul>
                                    <li>Check-In: Standard check-In time for a 22-hour stay is 2pm.</li>
                                    <li>Check-Out: You may check out anytime before noon. But, if you wish to extend your stay, kindly notify us 24 hours prior.</li>
                                </ul>

                                <li><strong>Payment:</strong></li>
                                <ul>
                                    <li>30% downpayment is required to secure your booking. DOWNPAYMENT IS STRICTLY NON-REFUNDABLE, The remaining balance shall be paid on-site or through our payment channel.</li>
                                </ul>

                                <li><strong>No Smoking:</strong></li>
                                <ul>
                                    <li>STRICTLY NO SMOKING INSIDE THE HOUSE!</li>
                                    <li>PENALTY: P3000</li>
                                </ul>
                            </ul>

                            <li><strong>Warning: If any of our rules and regulations are violated, we can charge extra fees or terminate your stay in our resort.</strong></li>

                            
                        </div>
                        <div id="buttondivmodal">
                            <input type="button" id="tdeclinebutton" class="declined" value="DECLINED">
                            <input type="submit" id="tacceptbutton" value="ACCEPT">
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="bookcontainer">
        <h1>AVAILABLE DATES</h1>

        <div id="calendar">
        </div>
        <div id="legendcontainer">
            <div id="legends">
                <h2>22 HOURS BOOKED</h2>
                <h2>DAY TOUR BOOKED</h2>

                <h2>NIGHT TOUR BOOKED</h2>
            </div>

        </div>

    </div>
</section>

<!-- Your FullCalendar initialization script -->
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev',
                center: 'title',
                right: 'next'
            },
            dayNamesShort: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
            eventAfterAllRender: function (view) {
                // Apply styles after the calendar has rendered
                $('.fc-day-header').css('font-size', '24px');
                $('.fc-day').css('font-size', '24px');
                $('.fc-day-number').css({
                    'font-size': '24px',
                    'text-align': 'center',
                    'float': 'none',
                });
                //$('.fc-day-top, .fc-day-content, .fc-day-bg, .fc-event, .fc-highlight').css('display', 'none');
                $('.fc-today').css({
                    'border': 'none',
                    'color': 'inherit'
                });
            },
            dayClick: function (date, jsEvent, view) {
                // Remove previously clicked day's indicator
                $('.fc-day').removeClass('clicked-day');

                // Get the clicked date and set it to the input field
                var clickedDate = date.format();
                $('#selectedDate').val(clickedDate);

                // Add indicator to the clicked day
                $(jsEvent.target).closest('.fc-day').addClass('clicked-day');
            },
            // Your other calendar options and events will go here
        });
    });


    // Get the modal
    var modalb = document.getElementById("myModalT");

    // Get the button that opens the modal
    var bton = document.getElementById("BookButton");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("declined")[0];

    // When the user clicks on the button, open the modal
    bton.onclick = function () {
        modalb.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modalb.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modalb) {
            modalb.style.display = "none";
        }
    }

</script>
